#dropdown {
    /*Explain why*/
/*    border: solid;*/
    position: relative;
    display: inline-block;
}

.dropbtn {
	background-color: #3366ff;
	color: white;
	padding: 20px;
	font-size: 15px;
	border: none;
	cursor: pointer;
	font-family: 'Playfair Display', serif;
}

.dropbtn:hover {
	background-color: #1a53ff;
}

.dropctn {
/*    display: none;*/
    height: 0px;
/*Explain why*/
    overflow: auto;
  	position: absolute;
    background-color: #f9f9f9;
    width:100%;
    /*Explain why*/
    box-shadow: 5px 10px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 5px;
    transition: height 1.5s ease-in-out;
}

.dropctn a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropctn a:hover {
	background-color: #F0F0F0;
	cursor: pointer;
}

.show {
/*    display: block;*/
    height: 125px;
}
